[submodule "hajo/components/NMEA2000"]
	path = hajo/components/NMEA2000
	url = https://github.com/gabor-toth/NMEA2000
	branch = master-old
[submodule "hajo/components/NMEA2000_esp32"]
	path = hajo/components/NMEA2000_esp32
	url = https://github.com/gabor-toth/NMEA2000_esp32
	branch = master
[submodule "hajo/components/lvgl"]
	path = hajo/components/lvgl
	url = https://github.com/gabor-toth/lvgl.git
	branch = release/v8.3
[submodule "hajo/components/lvgl_esp32_drivers"]
	path = hajo/components/lvgl_esp32_drivers
	url = https://github.com/gabor-toth/lvgl_esp32_drivers.git
	branch = master
[submodule "hajo/components/SSDP_IDF"]
	path = hajo/components/SSDP_IDF
	url = https://github.com/luc-github/SSDP_IDF.git
[submodule "hajo/components/esp32-owb"]
	path = hajo/components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "hajo/components/esp32-ds18b20"]
	path = hajo/components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20
