build/
cmake-build-debug*/
.idea/
**/kicad/**/_autosave-*
**/kicad/**/.~lock.*
**/kicad/**/~*.lck
sdkconfig.old
.metadata

# local projects

/canboat/
/lv_port_esp32/
/lvgl/
/hello_world/
/i2c_simple/
/i2c_tools/
/generic_gpio/
/main/
/NMEA2000-SignalK-Gateway-main*
/power_test/
/restful_server/
/sdspi/
/spi-lcd/
/tusb_console/
/twai_network/
/ws_echo_server/
/x/


