$foreground-disabled: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);

.program-detail {
  text-align: right;
  overflow: hidden;
}

.program-detail-row {
  height: 0;
}

.program-row {
  &:not(.program-expanded-row):hover {
    background: whitesmoke;
  }

  &:not(.program-expanded-row):active {
    background: #efefef;
  }

  td {
    border-bottom-width: 0;
  }

}

.button-row {
  margin-top: 0.5em;
}

.program-days {
  .program-day {
    border: 1px solid #cecece;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 20px;

    &.on {
      color: var(--mat-sys-primary);
    }

    &.off {
      color: $foreground-disabled;
    }
  }
}
