$foreground-disabled: color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent);

.program-detail {
  text-align: right;
  overflow: hidden;
}

.program-detail-row {
  height: 0;
}

.program-row {
  &:not(.program-expanded-row):hover {
    background: whitesmoke;
  }

  &:not(.program-expanded-row):active {
    background: #efefef;
  }

  td {
    border-bottom-width: 0;
  }

}

.button-row {
  margin-top: 0.5em;
}

.program-days {
  .program-day {
    min-width: 40px;
    padding: 0;
    margin: 2px;
  }
}

mat-card-header {
  mat-icon {
    margin-right: 0.5em;
  }
}

.program-start-times {
  margin-bottom: 0.5em;
}

.program-start-time {
  margin-right: 0.5em;
}