<div class="page-container programs">
    <h2>Programok</h2>

    @if (programs) {
        @for (program of programs; track program.index) {
            <mat-card class="program-config">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                        <mat-icon
                                class="material-symbols-outlined {{program.enabled?'on':'off'}}">{{ program.enabled ? 'alarm_on' : 'alarm_off' }}
                        </mat-icon>
                    </div>
                    <mat-card-title>{{ program.name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="program-start-times"> {{ program.startTimes }}</div>
                    <div class="program-days">
                        @if (program.days.type == ProgramDayType.onDays) {
                            <div>
                                @for (day of programDaysDisplay; track $index) {
                                    <div class="program-day {{this.hasDay(program, $index)?'on':'off'}}">
                                        {{ day }}
                                    </div>
                                }
                            </div>
                        } @else if (program.days.type == ProgramDayType.interval) {
                            <div>
                                {{ program.days.intervalDays }} naponta
                            </div>
                        }
                    </div>
                </mat-card-content>
                <mat-card-actions align="end">
                    @if (program.enabled) {
                        <button matButton (click)="setEnabled(program,false)">Letilt</button>
                    } @else {
                        <button matButton (click)="setEnabled(program,true)">Engedélyez</button>
                    }
                    <button matButton disabled>Szerkeszt</button>
                    <button matButton disabled>Töröl</button>
                </mat-card-actions>
            </mat-card>
        }
    } @else {
        <div class="load-spinner">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    }
</div>
