<div class="page-container programs">
    <h2>{{ id == 0 ? "Új program" : "Program " + program()?.name }}</h2>

    @if (program(); as program) {
        <form>
            <mat-form-field>
                <mat-label>Név</mat-label>
                <input type="text" matInput [formControl]="nameFormControl">
                @if (nameFormControl.hasError( 'required' )) {
                    <mat-error>Kötelező mező!</mat-error>
                }
            </mat-form-field>

            <div class="settings" [formGroup]="settings">
                <div>
                    <mat-checkbox id="active" formControlName="active">Aktív</mat-checkbox>
                </div>
            </div>

            <mat-form-field>
                <mat-label>Idők</mat-label>
                <mat-chip-grid #chipGrid aria-label="Új idő" [formControl]="chipFormControl">
                    @for (keyword of keywords(); track $index) {
                        <mat-chip-row (removed)="removeKeyword(keyword)">
                            {{ keyword }}
                            <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    }
                </mat-chip-grid>
                <input
                        placeholder="Új idő..."
                        [matChipInputFor]="chipGrid"
                        (matChipInputTokenEnd)="add($event)"
                />
            </mat-form-field>

            <div>
                <mat-label>Idők</mat-label>
                <div class="program-start-times">
                    @for (time of program.startTimes; track $index) {
                        {{ time }} x
                    }
                    <button matButton="filled" routerLink="/programs/0" class="add-button">
                        <mat-icon class="material-symbols-outlined">add</mat-icon>
                    </button>
                </div>
            </div>
            <mat-card-content>
                <div class="program-days">
                    @if (program.days.type == ProgramDayType.onDays) {
                        <div>
                            @for (day of programDaysDisplay; track $index) {
                                <div class="program-day {{this.hasDay(program, $index)?'on':'off'}}">
                                    {{ day }}
                                </div>
                            }
                        </div>
                    } @else if (program.days.type == ProgramDayType.interval) {
                    <div>
                        {{ program.days.intervalDays }} naponta
                    </div>
                }
                </div>
            </mat-card-content>
            <div class="btn-group">
                <button matButton="filled" (click)="save(program)">Mentés</button>
                <button matButton="outlined" routerLink="/programs">Mégsem</button>
            </div>
        </form>
    } @else {
        <mat-spinner diameter="30"></mat-spinner>
    }
</div>
