<div class="page-container programs">
    @if (program(); as program) {
        <h2>{{ id == 0 ? "Új program" : "Program " + program.name }}</h2>

        <form>
            <mat-form-field>
                <mat-label>Név</mat-label>
                <input type="text" matInput [formControl]="nameFormControl">
                @if (nameFormControl.hasError( 'required' )) {
                    <mat-error>Kötelező mező!</mat-error>
                }
            </mat-form-field>

            <div class="settings" [formGroup]="settings">
                <div>
                    <mat-checkbox id="active" formControlName="active">Aktív</mat-checkbox>
                </div>
            </div>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Idők</mat-card-title>
                </mat-card-header>
                <mat-card-content class="form-field-container">
                    <mat-form-field>
                        <mat-chip-grid #chipGrid aria-label="Új idő" [formControl]="chipFormControl">
                            @for (keyword of startTimes(); track $index) {
                                <mat-chip-row (removed)="removeKeyword(keyword)">
                                    {{ keyword }}
                                    <button matChipRemove [attr.aria-label]="'remove ' + keyword">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            }
                        </mat-chip-grid>
                        <input
                                placeholder="Új idő..."
                                [matChipInputFor]="chipGrid"
                                (matChipInputTokenEnd)="add($event)"
                        />
                    </mat-form-field>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Napok</mat-card-title>
                </mat-card-header>
                <mat-card-content class="form-field-container">

                    <mat-form-field>
                        <!--<mat-label>Indítás</mat-label>-->
                        <mat-select [(value)]="selectedProgramDayType">
                            <mat-option [value]="ProgramDayType.onDays.valueOf()">megadott napokon</mat-option>
                            <mat-option [value]="ProgramDayType.interval.valueOf()">intervallum</mat-option>
                        </mat-select>
                    </mat-form-field>

                    @if (selectedProgramDayType() == ProgramDayType.onDays) {
                        <mat-selection-list>
                            @for (day of programDaysDisplay; track $index) {
                                @let hasDay = this.hasDay( $index );
                                <mat-list-option selected="{{hasDay}}" (click)="onDayChange($index,hasDay)">{{day}}</mat-list-option>
                            }
                        </mat-selection-list>
                    } @else if (selectedProgramDayType() == ProgramDayType.interval) {
                        <mat-form-field>
                            <mat-select [(value)]="intervalDays">
                                @for (day of [ 1, 2, 3, 4, 5, 6, 7 ]; track $index) {
                                    <mat-option [value]="day">{{ day }}</mat-option>
                                }
                            </mat-select>
                            naponta
                        </mat-form-field>
                        <mat-form-field>
                            Következő nap
                            <mat-select [(value)]="intervalStartsOn">
                                @for (day of programDaysDisplay; track $index) {
                                    <mat-option [value]="$index">{{ day }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                        <!--
                        <div>
                            <mat-checkbox id="active" [checked]="intervalStartReset()" (change)="intervalStartReset.set($event.checked)">Visszaállítás</mat-checkbox>
                        </div>
                        -->

                    } @else {
                        {{ selectedProgramDayType() }} {{ typeof selectedProgramDayType() }}
                    }
                </mat-card-content>
            </mat-card>

            <div class="btn-group">
                <button matButton="filled" (click)="save()">Mentés</button>
                <button matButton="outlined" routerLink="/programs">Mégsem</button>
            </div>
        </form>
    } @else {
        <mat-spinner diameter="30"></mat-spinner>
    }
</div>
