@use 'sass:map';
@use '@angular/material' as mat;
@use "../../theme" as *;

$color-config: mat.m2-get-color-config($my-app-theme);
$primary-palette: map.get($color-config, 'primary');
$foreground-palette: map.get($color-config, 'foreground');
$foreground-disabled: map.get($foreground-palette, "disabled-button");

.program-detail {
  text-align: right;
  overflow: hidden;
}

.program-detail-row {
  height: 0;
}

.program-row {
  &:not(.program-expanded-row):hover {
    background: whitesmoke;
  }

  &:not(.program-expanded-row):active {
    background: #efefef;
  }

  td {
    border-bottom-width: 0;
  }

}

.button-row {
  margin-top: 0.5em;
}

.program-days {
  .program-day {
    border: 1px solid #cecece;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 20px;

    &.on {
      color: mat.m2-get-color-from-palette($primary-palette, 700);
    }

    &.off {
      color: $foreground-disabled;
    }
  }
}
