<div class="page-container">
    <h2>Pumpák</h2>
    <div *ngIf="state && state.outputs" class="card-container">
        <button *ngFor="let pump of state.outputs.pumps" mat-stroked-button color="foreground" class="card icon-switch"
                (click)="click('pumps',pump.id,!pump.on)">
            <mat-icon *ngIf="pump.on" class="material-icons-outlined on">toggle_on</mat-icon>
            <mat-icon *ngIf="!pump.on" class="material-icons-outlined off">toggle_off</mat-icon>
            <span>{{pump.name}}</span>
        </button>
    </div>
    <div *ngIf="!state" class="load-spinner">
        <mat-spinner diameter="30"></mat-spinner>
    </div>

    <h2>Zónák</h2>
    <div *ngIf="state && state.outputs" class="card-container">
        <button *ngFor="let zone of state.outputs.zones" mat-stroked-button color="foreground" class="card icon-switch"
                (click)="click('zones',zone.id,!zone.on)">
            <mat-icon *ngIf="zone.on" class="material-icons-outlined on">toggle_on</mat-icon>
            <mat-icon *ngIf="!zone.on" class="material-icons-outlined off">toggle_off</mat-icon>
            <span>{{zone.name}}</span>
        </button>
    </div>
    <div *ngIf="!state" class="load-spinner">
        <mat-spinner diameter="30"></mat-spinner>
    </div>

    <h2>Szintek</h2>
    <div *ngIf="state && state.inputs" class="card-container">
        <div *ngFor="let level of state.inputs.levels" class="card-level {{level.on?'filled':''}}">
        </div>
    </div>
    <div *ngIf="!state" class="load-spinner">
        <mat-spinner diameter="30"></mat-spinner>
    </div>

    <h2>Gombok</h2>
    <div *ngIf="state && state.inputs" class="card-container">
        <button *ngFor="let button of state.inputs.buttons" mat-stroked-button color="foreground"
                class="card icon-switch"
                (click)="click('buttons',button.id,!button.on)">
            <mat-icon *ngIf="button.on" class="material-icons-outlined on">toggle_on</mat-icon>
            <mat-icon *ngIf="!button.on" class="material-icons-outlined off">toggle_off</mat-icon>
            <span>{{button.name}}</span>
        </button>
    </div>
    <div *ngIf="!state" class="load-spinner">
        <mat-spinner diameter="30"></mat-spinner>
    </div>

    <div class="time-container">
        {{remoteTime!}}
    </div>
</div>
