<div class="page-container">
    <h2>Pumpák</h2>
    @if (state && state.outputs) {
        <div class="card-container">
            @for (pump of state.outputs.pumps; track pump.id) {
                <button mat-stroked-button color="foreground" class="card icon-switch"
                        (click)="click('pumps',pump.id,!pump.on)">
                    <mat-icon
                            class="material-symbols-outlined {{pump.on ? 'on':'off'}}">{{ pump.on ? 'toggle_on' : 'toggle_off' }}
                    </mat-icon>
                    <span>{{ pump.name }}</span>
                </button>
            }
        </div>
    } @else {
        <div class="load-spinner">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    }

    <h2>Zónák</h2>
    @if (state && state.outputs) {
        <div class="card-container">
            @for (zone of state.outputs.zones; track zone.id) {
                <button mat-stroked-button color="foreground" class="card icon-switch"
                        (click)="click('zones',zone.id,!zone.on)">
                    <mat-icon
                            class="material-symbols-outlined {{zone.on ? 'on':'off'}}">{{ zone.on ? 'toggle_on' : 'toggle_off' }}
                    </mat-icon>
                    <span>{{ zone.name }}</span>
                </button>
            }
        </div>
    } @else {
        <div class="load-spinner">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    }

    <h2>Szintek</h2>
    @if (state && state.inputs) {
        <div class="card-container">
            @for (level of state.inputs.levels; track level.id) {
                <button mat-stroked-button color="foreground"
                        class="card icon-switch">
                    <mat-icon
                            class="material-symbols-outlined {{level.on ? 'on':'off'}}">{{ level.on ? 'toggle_on' : 'toggle_off' }}
                    </mat-icon>
                    <span>{{ level.name }}</span>
                </button>
            }
        </div>
    } @else {
        <div class="load-spinner">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    }

    <h2>Gombok</h2>
    @if (state && state.inputs) {
        <div class="card-container">
            @for (button of state.inputs.buttons; track button.id) {
                <button mat-stroked-button color="foreground"
                        class="card icon-switch"
                        (click)="click('buttons',button.id,!button.on)">
                    <mat-icon
                            class="material-symbols-outlined {{button.on ? 'on':'off'}}">{{ button.on ? 'toggle_on' : 'toggle_off' }}
                    </mat-icon>
                    <span>{{ button.name }}</span>
                </button>
            }
        </div>
    } @else {
        <div class="load-spinner">
            <mat-spinner diameter="30"></mat-spinner>
        </div>
    }

    <div class="time-container">
        {{ remoteTime! }}
    </div>
</div>
