@use 'sass:map';
@use '@angular/material' as mat;
@use "../../theme" as *;

$color-config: mat.m2-get-color-config($my-app-theme);
$primary-palette: map.get($color-config, 'primary');
$foreground-palette: map.get($color-config, 'foreground');
