@use 'sass:map';
@use '@angular/material' as mat;
@use "../../theme" as *;

$color-config: mat.m2-get-color-config($my-app-theme);
$primary-palette: map.get($color-config, 'primary');
$foreground-palette: map.get($color-config, 'foreground');
$foreground-icon: map.get($foreground-palette, "icon");

.page-state {
  .mat-mdc-card-header {
    margin-left: 0;
  }

  .card-container {

    mat-icon.icon-timer {
      font-size: 24px;
      vertical-align: middle;
      color: $foreground-icon;
    }

    mat-icon.icon-hotel {
      color: $foreground-icon;
    }

  }

  .icon-hotel {
    margin: auto;
  }

  .state-start {
    button {
      margin: 1em;
    }
  }

  .state-program {
    > mat-card-header {
      justify-content: space-between;
    }
  }

  .mat-mdc-card-header {
    padding-right: 0;
    margin-right: 0.4em;
  }

  .program-container {
    &:not(:first-child) {
      margin-top: .5em;
    }

    .program-total {
      width: 50%;
    }

    .program-zones {
      width: 50%;
    }

    .program-zone:not(:first-child),
    .zone-card:not(:first-child) {
      margin-top: .5em;
    }

    .duration {
      color: #808080;
      display: block;
      padding-left: 1em;
    }

    + .program-container {
      border-top: 1px solid rgb(0, 0, 0, 0.2);
      padding-top: 0.5em;
    }

    button {
      mat-icon.mat-icon {
        &.on {
          color: var(--mat-icon-color, inherit);
        }

        &.off {
          color: var(--mat-checkbox-disabled-label-color, inherit);
        }
      }
    }
  }

}