@use 'sass:map';
@use '@angular/material' as mat;
@use "../../theme" as *;

$color-config: mat.m2-get-color-config($my-app-theme);
$primary-palette: map.get($color-config, 'primary');
$foreground-palette: map.get($color-config, 'foreground');
$foreground-icon: map.get($foreground-palette, "icon");

.column-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 767px) {
    & > *:not(.circle-link) {
      width: 100%;
    }
  }

  .card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    height: 70px;
    margin: 0 8px 16px;
    padding: 16px;
    text-align: center;
    width: 160px;

    span {
      * {
        vertical-align: middle;
      }
    }

    &:not(:last-child) {
      margin-right: 0;
    }

    &.card-small {
      height: 16px;
      width: 168px;
    }

  }

  .desc {
    margin-bottom: 0.5em;
  }

  mat-icon.icon-timer {
    font-size: 24px;
    vertical-align: middle;
    color: $foreground-icon;
  }

  mat-icon.icon-hotel {
    color: $foreground-icon;
  }

}

.state-program {
  .icon-hotel {
    margin: auto;
  }
}
