<!-- https://fonts.google.com/symbols -->

<div class="page-container page-state">
    <mat-card class="state-pump">
        <!--fxFlex fxLayoutAlign="center" class="card" -->
        <mat-card-header>
            <mat-card-title>Pumpák</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (pinState && pinState.outputs) {
                <div class="card-container">
                    @for (pump of pinState.outputs.pumps; track pump.id) {
                        <button mat-stroked-button color="foreground" class="card icon-switch"
                                (click)="click('pumps',pump.id,!pump.on)">
                            @if (pump.on) {
                                <mat-icon class="material-symbols-outlined on">toggle_on</mat-icon>
                            } @else {
                                <mat-icon class="material-symbols-outlined off">toggle_off</mat-icon>
                            }
                            <span>{{ pump.name }}</span>
                        </button>
                    }
                </div>
            } @else {
                <div class="load-spinner">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
            }
        </mat-card-content>
    </mat-card>

    <mat-card class="state-level">
        <mat-card-header>
            <mat-card-title>Szintek</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (pinState && pinState.inputs) {
                <div class="card-container">
                    @for (level of pinState.inputs.levels; track level.id) {
                        <div class="card-level {{level.on?'filled':'empty'}}"></div>
                    }
                </div>
            } @else {
                <div class="load-spinner">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
            }
        </mat-card-content>
    </mat-card>

    <mat-card class="state-start">
        <mat-card-header>
            <mat-card-title>Indítás</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (programs) {
                <div>
                    <mat-form-field>
                        <mat-select #selectedProgram (selectionChange)="onSelectedProgram(selectedProgram.value)">
                            <!--[(ngModel)]="selectedValue"-->
                            @for (program of programs; track program.index) {
                                <mat-option [value]="program.index">{{ program.name }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="startProgram()"
                            [disabled]="selectedProgramIndex == 0">
                        <mat-icon class="material-symbols-outlined icon-big">play_arrow</mat-icon>
                    </button>
                </div>
            } @else {
                <div class="load-spinner">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
            }
        </mat-card-content>
    </mat-card>

    <mat-card class="state-program">
        <mat-card-header>
            <mat-card-title>Futó program</mat-card-title>
            @if (runState?.running && queueState) {
                <div class="stop-button-holder">
                    <button mat-raised-button color="primary" (click)="stopProgram()">
                        <mat-icon class="material-symbols-outlined icon-big">cancel</mat-icon>
                    </button>
                </div>
            }
        </mat-card-header>
        <mat-card-content>
            @if (runState) {
                @if (runState.running) {
                    <div class="row program-container">
                        <div class="row program-card lg-6">
                            <div class="program-info lg-6">
                                <span class="name">{{ runState.name }}</span>
                                <span class="duration">{{ ( runState.duration * 1000 ) | date:'m:ss' }}</span>
                            </div>
                            <div class="program-action lg-6">
                                <button mat-raised-button color="primary"
                                        (click)="nextProgram()"
                                        [disabled]="queueState?.length == 0">
                                    <mat-icon class="material-symbols-outlined icon-big">step_over</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="program-zones lg-6">
                            @for (zone of runState.zones; track zone.index) {
                                <div class="row zone-card">
                                    <div class="zone-info lg-8">
                                        <span class="name">{{ zone.name }}</span>
                                        <span class="duration">{{ ( zone.duration * 1000 ) | date:'m:ss' }}</span>
                                    </div>
                                    <div class="zone-action lg-4">
                                        @if ($first) {
                                            <button mat-raised-button color="primary"
                                                    (click)="nextZone()">
                                                <mat-icon class="material-symbols-outlined icon-big">step_over
                                                </mat-icon>
                                            </button>
                                        } @else {
                                            <button mat-raised-button color="primary"
                                                    (click)="toggleScheduledZoneState(runState, zone)"
                                                    [disabled]="!featureToggleZone()">
                                                <mat-icon class="material-symbols-outlined icon-big">
                                                    {{ zone.disabled ? "toggle_off" : "toggle_on" }}
                                                </mat-icon>
                                            </button>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                } @else {
                    <mat-icon class="material-symbols-outlined icon-hotel">hotel</mat-icon>
                }
            } @else {
                <div class="load-spinner">
                    <mat-spinner diameter="30"></mat-spinner>
                </div>
            }
        </mat-card-content>
    </mat-card>

    @if (queueState) {
        <mat-card class="state-queue">
            <mat-card-header>
                <mat-card-title>Sorbanálló programok</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                @for (queued of queueState; track queued.index) {
                    <div class="row program-container">
                        <div class="row program-card lg-6">
                            <div class="program-info lg-6">
                                <span class="name">{{ queued.name }}</span>
                                <span class="duration">{{ ( queued.duration * 1000 ) | date:'m:ss' }}</span>
                            </div>
                            <div class="program-action lg-6">
                                <button mat-raised-button color="primary"
                                        (click)="cancelSchedule(queued)"
                                        [disabled]="queueState.length == 0">
                                    <mat-icon class="material-symbols-outlined icon-big">cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="program-zones lg-6">
                            @for (zone of queued.zones; track zone.index) {
                                <div class="row zone-card">
                                    <div class="zone-info lg-8">
                                        <span class="name">{{ zone.name }}</span>
                                        <span class="duration">{{ ( zone.duration * 1000 ) | date:'m:ss' }}</span>
                                    </div>
                                    <div class="zone-action lg-4">
                                        <button mat-raised-button color="primary"
                                                (click)="toggleScheduledZoneState(queued, zone)"
                                                [disabled]="!featureToggleZone()">
                                            <mat-icon class="material-symbols-outlined icon-big">
                                                {{ zone.disabled ? "toggle_off" : "toggle_on" }}
                                            </mat-icon>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                } @empty {
                    <mat-icon class="material-symbols-outlined icon-hotel">hotel</mat-icon>
                }
            </mat-card-content>
        </mat-card>
    }
    <div class="time-container">
        {{ remoteTime! }}
    </div>
</div>
