<div class="page-container">
    <div fxFlex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutAlign="center none">
        <!--fxFlex fxLayoutAlign="center" class="card" -->
        <div class="column-container">
            <h2>Pumpák</h2>
            <div *ngIf="pinState && pinState.outputs" class="card-container">
                <button *ngFor="let pump of pinState.outputs.pumps" mat-stroked-button color="foreground"
                        class="card icon-switch"
                        (click)="click('pumps',pump.id,!pump.on)">
                    <mat-icon *ngIf="pump.on" class="material-icons-outlined on">toggle_on</mat-icon>
                    <mat-icon *ngIf="!pump.on" class="material-icons-outlined off">toggle_off</mat-icon>
                    <span>{{ pump.name }}</span>
                </button>
            </div>
            <div *ngIf="!pinState" class="load-spinner">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
        </div>

        <div class="column-container">
            <h2>Szintek</h2>
            <div *ngIf="pinState && pinState.inputs" class="card-container">
                <div *ngFor="let level of pinState.inputs.levels" class="card-level {{level.on?'filled':'empty'}}">
                </div>
            </div>
            <div *ngIf="!pinState" class="load-spinner">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
        </div>

        <div class="column-container">
            <h2>Program</h2>
            <div *ngIf="runState" class="card-container">
                <mat-icon *ngIf="!runState.isProgramRunning" class="material-icons-outlined icon-hotel">hotel
                </mat-icon>
                <div *ngIf="runState.isProgramRunning">
                    <div class="desc">
                        Futó program: {{ runState.programName }}
                    </div>
                    <div class="desc">
                        Zóna: {{ runState.zoneName }} ({{ runState.zoneIndex }}/{{ runState.zonesCount }}),
                        <mat-icon class="material-icons-outlined icon-timer">timer</mat-icon>
                        {{ runState.zoneLeftSeconds }} mp
                    </div>
                </div>
            </div>
            <div *ngIf="!runState" class="load-spinner">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
        </div>
    </div>

    <div class="time-container">
        {{ remoteTime! }}
    </div>
</div>
