<div class="toolbar" role="banner">
    <nav>
        <a routerLink="/dashboard" routerLinkActive="active-route"><span>Áttekintés</span></a>
        <a routerLink="/pin" routerLinkActive="active-route"><span>Kapcsolótábla</span></a>
        <a routerLink="/program" routerLinkActive="active-route"><span>Programok</span></a>
        <a routerLink="/admin" routerLinkActive="active-route"><span>Adminisztráció</span></a>
    </nav>
    <div class="spacer"></div>
</div>
<div class="content">
    <router-outlet></router-outlet>
    <!--<app-messages></app-messages>-->
</div>
<footer>
</footer>

