@use 'sass:map';
@use '@angular/material' as mat;
@use "../theme" as *;

$color-config: mat.m2-get-color-config($my-app-theme);
$primary-palette: map.get($color-config, 'primary');

.toolbar {
  align-items: center;
  background-color: mat.m2-get-color-from-palette($primary-palette, 700);
  color: mat.m2-get-color-from-palette($primary-palette, 50);
  display: flex;
  font-weight: normal;
  height: 60px;
  left: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  position: absolute;
  right: 0;
  top: 0;

  a {
    margin-right: 1em;
    padding: 7px;
  }

  img {
    margin: 0 16px;
  }

  .spacer {
    flex: 1;
  }

  .active-route {
    border-style: solid;
    border-width: 0 0 0 1px;
  }
}

footer {
  align-items: center;
  display: flex;
  line-height: 20px;
  margin-top: 8px;
}
