<div class="page-container" id="pins">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Pumpák</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (pins()?.outputs; as outputs) {
                <div class="card-container">
                    @for (pump of outputs.pumps; track pump.id) {
                        <button mat-stroked-button class="card icon-switch"
                                routerLink="/admin/pin/pumps/{{pump.id}}">
                            <span>{{ pump.name }}</span>
                        </button>
                    }
                </div>
            } @else {
                    <mat-spinner diameter="30"></mat-spinner>
            }
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Zónák</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (pins()?.outputs; as outputs) {
                <div class="card-container">
                    @for (zone of outputs.zones; track zone.id) {
                        <button mat-stroked-button class="card icon-switch"
                                routerLink="/admin/pin/zones/{{zone.id}}">
                            <span>{{ zone.name }}</span>
                        </button>
                    }
                </div>
            } @else {
                    <mat-spinner diameter="30"></mat-spinner>
            }
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Szintek</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (pins()?.inputs; as inputs) {
                <div class="card-container">
                    @for (level of inputs.levels; track level.id) {
                        <button mat-stroked-button class="card icon-switch"
                                routerLink="/admin/pin/levels/{{level.id}}">
                            <span>{{ level.name }}</span>
                        </button>
                    }
                </div>
            } @else {
                    <mat-spinner diameter="30"></mat-spinner>
            }
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Gombok</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            @if (pins()?.inputs; as inputs) {
                <div class="card-container">
                    @for (button of inputs.buttons; track button.id) {
                        <button mat-stroked-button class="card icon-switch"
                                routerLink="/admin/pin/buttons/{{button.id}}">
                            <span>{{ button.name }}</span>
                        </button>
                    }
                </div>
            } @else {
                    <mat-spinner diameter="30"></mat-spinner>
            }
        </mat-card-content>
    </mat-card>
</div>
