<div class="page-container">
    @if (pin()) {
        <h1>
            {{ typeLabel() }} {{ id }}
        </h1>

        <form>
            <mat-form-field>
                <mat-label>Név</mat-label>
                <input type="text" matInput [formControl]="nameFormControl">
                @if (nameFormControl.hasError( 'required' )) {
                    <mat-error>Kötelező mező!</mat-error>
                }
            </mat-form-field>

            <div class="settings" [formGroup]="settings">
                <div>
                    <mat-checkbox id="active" formControlName="active">Aktív</mat-checkbox>
                </div>
                <div>
                    <mat-checkbox id="hidden" formControlName="hidden">Rejtett</mat-checkbox>
                </div>
            </div>
            <div class="btn-group">
                <button matButton="filled" (click)="save()">
                    Mentés
                </button>
                <a matButton="outlined" routerLink="/admin">Mégsem</a>
            </div>
        </form>
    } @else {
    <div class="load-spinner">
        <mat-spinner diameter="30"></mat-spinner>
    </div>
}
</div>